<mat-card>
    <mat-card-header>
        <mat-card-title>{{!!this.binding ? 'Editar Anillado' : 'Crear Anillado'}}</mat-card-title>
        <mat-card-subtitle>{{!!this.binding ? this.binding.name : ''}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form fxFlex="100" class="mts-3" (submit)="onSubmitBindingForm()"
            *ngIf="!!this.bindingForm ; else loadingDiv" fxLayoutGap="2%" fxFlex="100"
            class=" mxs-2" [formGroup]="bindingForm" fxLayout="column">
            <cei-text-input [clearable]="true" [name]="this.NAMES_FORM_POST_BINDING.BINDING_NAME" [form]="this.bindingForm"
                [placeholder]="'Nombre del anillado'">
            </cei-text-input>
            <cei-number-input [name]="this.NAMES_FORM_POST_BINDING.BINDING_PRICE" [form]="this.bindingForm"
            [placeholder]="'Precio del anillado'" [minValue] = 0>
            </cei-number-input>
            <cei-number-input [name]="this.NAMES_FORM_POST_BINDING.BINDING_SHEETS_LIMIT" [form]="this.bindingForm"
            [placeholder]="'Límite de hojas del anillado'" [minValue] = 0>
            </cei-number-input>
            <!-- Actions Buttons -->
            <div fxLayoutAlign="space-around stretch" class="mts-5">
                <button mat-raised-button [color]="'warn'" [disabled]="isLoadingPostBinding"
                    (click)="this.onClickCancel()" type="button">
                    <span>
                        Cancelar
                    </span>
                </button>
                <button mat-raised-button [color]="'primary'" [disabled]="!bindingForm.valid || this.isLoadingPostBinding"
                    type="submit">
                    <mat-icon *ngIf="!bindingForm.valid; else saveIcon">lock</mat-icon>
                    <ng-template #saveIcon>
                        <mat-icon *ngIf="bindingForm.valid && !isLoadingPostBinding; else loadingIcon">save</mat-icon>
                    </ng-template>
                    <span>
                        Confirmar
                    </span>
                    <ng-template #loadingIcon>
                        <mat-icon>
                            <mat-spinner color="accent" diameter="20">
                            </mat-spinner>
                        </mat-icon>
                    </ng-template>
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<cei-alert-error #alertError></cei-alert-error>

<ng-template #loadingDiv>
    <app-spinner fxFlex="100" fxLayoutAlign="center start"></app-spinner>
</ng-template>