<mat-card>
    <mat-card-header>
        <mat-card-title>{{!!this.relation ? 'Editar Relación' : 'Crear Relación'}}</mat-card-title>
        <mat-card-subtitle>{{!!this.relation ? this.relation.name : ''}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form fxFlex="100" class="mts-3" (submit)="onSubmitRelationForm()"
            *ngIf="!!this.relationForm ; else loadingDiv" fxLayoutGap="2%" fxFlex="100"
            class=" mxs-2" [formGroup]="relationForm" fxLayout="column">
            <cei-text-input [clearable]="true" [name]="this.NAMES_FORM_POST_RELATION.RELATION_NAME" [form]="this.relationForm"
                [placeholder]="'Nombre de la relación'">
            </cei-text-input>
            <!-- Actions Buttons -->
            <div fxLayoutAlign="space-around stretch" class="mts-5">
                <button mat-raised-button [color]="'warn'" [disabled]="isLoadingPostRelation"
                    (click)="this.onClickCancel()" type="button">
                    <span>
                        Cancelar
                    </span>
                </button>
                <button mat-raised-button [color]="'primary'" [disabled]="!relationForm.valid || this.isLoadingPostRelation"
                    type="submit">
                    <mat-icon *ngIf="!relationForm.valid; else saveIcon">lock</mat-icon>
                    <ng-template #saveIcon>
                        <mat-icon *ngIf="relationForm.valid && !isLoadingPostRelation; else loadingIcon">save</mat-icon>
                    </ng-template>
                    <span>
                        Confirmar
                    </span>
                    <ng-template #loadingIcon>
                        <mat-icon>
                            <mat-spinner color="accent" diameter="20">
                            </mat-spinner>
                        </mat-icon>
                    </ng-template>
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<cei-alert-error #alertError></cei-alert-error>

<ng-template #loadingDiv>
    <app-spinner fxFlex="100" fxLayoutAlign="center start"></app-spinner>
</ng-template>