<div fxLayout="column">
  <div fxLayoutAlign="center stretch" class="pt-1" style="position: sticky; top: 0; background-color: white; z-index: 2;">
     <h2 class="text-secondary-darker">
        Detalles del pedido
        <span class="text-primary-darker">
           #{{this.data.id_number}}
        </span>
     </h2>
  </div>
  <div class="my-4" *ngIf="!this.isLoadingOrderDetail; else loadingDiv">
     <mat-accordion>
        <mat-expansion-panel *ngFor="let orderFile of this.data.orderFiles; let i=index" [expanded]="i === 0">
           <mat-expansion-panel-header>
              <mat-panel-description>
                 <span>
                    <b>
                       {{orderFile.total |moneda}} - {{orderFile.file.name | titlecase}}
                    </b>
                    <!-- <span class="text-secondary">
                       ({{orderFile.file.course.name}})
                    </span> -->
                 </span>
              </mat-panel-description>
           </mat-expansion-panel-header>
           <div class="ml-5 text-secondary-darker">
              <p fxLayoutAlign="start center">
                 <mat-icon color="primary">keyboard_arrow_right</mat-icon> {{ orderFile.configuration.double_sided ? "Simple faz" : "Doble faz" }}
              </p>
              <p fxLayoutAlign="start center">
                 <mat-icon color="primary">keyboard_arrow_right</mat-icon>Diapositivas por hoja: {{
                 orderFile.configuration.slides_per_sheet }}
              </p>
              <p fxLayoutAlign="start center" *ngIf="!!orderFile.configuration.range">
                 <mat-icon color="primary">keyboard_arrow_right</mat-icon>Páginas: {{ orderFile.configuration.range }}
              </p>
              <p fxLayoutAlign="start center">
                 <mat-icon color="primary">keyboard_arrow_right</mat-icon>{{ orderFile.configuration.colour ? "Color" :
                 "Blanco y negro" }}
              </p>
              <p fxLayoutAlign="start center">
                 <mat-icon color="primary">keyboard_arrow_right</mat-icon>Copias: {{ orderFile.quantity }}
              </p>
              <p fxLayoutAlign="center center" class="text-secondary">
                 <mat-icon class="text-primary-lighter mr-1 mat-icon-small" mat-list-icon svgIcon="customCircle">
                 </mat-icon
                 >{{ orderFile.state.name }}
              </p>
           </div>
        </mat-expansion-panel>
        <!-- Anillados -->
        <mat-expansion-panel *ngFor="let ringed of this.ringedGroups; let i=index">
           <mat-expansion-panel-header>
              <mat-panel-description>
                 <span>
                    <b>
                       {{ringed.price | moneda}} - {{ ringed.name | titlecase}}
                    </b>
                 </span>
              </mat-panel-description>
           </mat-expansion-panel-header>
           <div class="ml-5 text-secondary-darker">
              <mat-list dense>
                 <mat-list-item *ngFor="let fileRinged of ringed.files; let i=index">
                    <b class="text-secondary">
                       {{i+1 + '° &nbsp;'}}
                    </b>
                    <span class="text-secondary-darker"> <b>{{fileRinged}}</b> &nbsp; </span>
                 </mat-list-item>
              </mat-list>
           </div>
        </mat-expansion-panel>
     </mat-accordion>
  </div>
</div>

<ng-template #loadingDiv>
    <app-spinner fxFlex="100" fxLayoutAlign="center start"></app-spinner>
</ng-template>
<cei-alert-error #alertError></cei-alert-error>
