<div fxLayout="column">
    <ng-container *ngIf="dataSource && !loadingResponse && !errorResponse; else loading">
        <!-- <h2>
            Buscador de archivos
        </h2> -->
        <h4 class="text-secondary">
            Los archivos se encuentran ordenados y clasificados según carrera, año y materia.
            Despliegue los items para buscar el documento deseado.
        </h4>
        <!-- CONTENT -->
        <div class="mys-3">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                    <li class="mat-tree-node">
                        <mat-checkbox [disabled]="this.disabled" [checked]="node.checked"
                            (change)="onCheckFile($event, node)" class="ml-2 checklist-leaf-node">
                        </mat-checkbox>
                        <!-- <mat-icon color="accent">loupe</mat-icon> -->
                        <span class="text-accent mxs-2">
                            •
                        </span>
                        <!-- <span class="text-secondary-ligther">
                                    {{ node.name }}
                                </span> -->

                        <a class="text-primary" style="cursor: pointer;" (click)="downloadFile(node)">
                            {{ node.name }}
                        </a>
                        <span class="text-secondary mls-2">[{{this.generalService.formatBytes(node.size,1)}}]</span>
                        <mat-spinner *ngIf="node.isLoading" class="mls-2" diameter="20"></mat-spinner>
                        <!-- </mat-checkbox> -->
                        <!-- <button mat-icon-button [matTooltip]="'Descargar archivo'" class="ml-2"
                                    (click)="downloadFile(node)">
                                    <mat-icon class="text-primary">cloud_download</mat-icon>
                                </button> -->
                    </li>
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                    <li>
                        <div class="mat-tree-node">
                            <a matRipple fxLayoutAlign="start center" (click)="onClickTreeNode(node)" matTreeNodeToggle
                                style="cursor: pointer;" class="mls-2 pys-2">
                                <mat-icon>
                                    {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
                                </mat-icon>
                                <span class="mls-1">
                                    {{ node.name }}
                                </span>
                            </a>
                            <div fxFlex="1 1 auto" class="mls-3">
                                <mat-progress-bar *ngIf="node.isLoading" mode="indeterminate">
                                </mat-progress-bar>
                            </div>
                        </div>
                        <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                            <ng-container matTreeNodeOutlet></ng-container>
                        </ul>
                    </li>
                </mat-nested-tree-node>
            </mat-tree>
        </div>
    </ng-container>
</div>

<cei-alert-error #alertError></cei-alert-error>
<ng-template #loading>
    <app-spinner *ngIf="this.loadingResponse && !this.errorResponse; else errorDiv" fxFlex="100"
        fxLayoutAlign="center start"></app-spinner>
</ng-template>
<ng-template #errorDiv>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
        <app-spinner-error></app-spinner-error>
        <b> Se ha producido un error, reinténtelo más tarde. </b>
    </div>
</ng-template>