<!-- <mat-slide-toggle [checked]="isDarkTheme" (change)="toggleDarkTheme($event.checked)">
   <span class="mat-body-2">Dark theme</span>
</mat-slide-toggle> -->
<div fxLayoutAlign="start center" fxLayoutGap="20px">
  <button mat-button>
    <mat-icon (click)="toggleDarkTheme(!isDarkTheme)">{{ isDarkTheme ? 'light_mode':'nightlight_round'}}</mat-icon>
  </button>
  <!-- <button mat-icon-button [matMenuTriggerFor]="menuTheme">
     <mat-icon matBadge="15" matBadgeColor="warn">brush</mat-icon>
  </button> -->
  <div *ngIf="this.authService.currentUserValue?.type == this.userType.BECADO" fxLayoutAlign="center center" matTooltip="Copias disponibles por beca">
    <mat-icon>add_shopping_cart</mat-icon>
    <span class="mat-h4 mb-0 mls-1">{{this.authService.currentUserValue.remaining_copies}}</span>
  </div>
  <div *ngIf="this.authService.currentUserValue?.type == this.userType.ADMIN" fxLayoutAlign="center center" matTooltip="Almacenamiento disponible del servidor">
    <mat-icon class="mrs-2" *ngIf="this.authService.currentUserValue.serverStatus.size - this.authService.currentUserValue.serverStatus.free < 31457280">disc_full</mat-icon>
    <mat-icon class="mrs-2" *ngIf="this.authService.currentUserValue.serverStatus.size - this.authService.currentUserValue.serverStatus.free >= 31457280">cloud_queue</mat-icon>
    <span class="mat-h4 mb-0 mls-1">{{this.generalService.formatBytes(this.authService.currentUserValue.serverStatus.free)}} de</span>
    <span class="mat-h4 mb-0 mls-1">{{this.generalService.formatBytes(this.authService.currentUserValue.serverStatus.size)}}</span>
  </div>
  <div fxLayoutAlign="center center" *ngIf="this.authService.currentUserValue?.type == this.userType.BECADO || this.authService.currentUserValue?.type == this.userType.ESTUDIANTE" matTooltip="Saldo disponible">
    <mat-icon>attach_money</mat-icon>
    <span class="mat-h4 mb-0">{{this.authService.currentUserValue.balance}}</span>
  </div>
  <div fxLayoutAlign="center center" *ngIf="this.authService.currentUserValue?.type == this.userType.CATEDRA" matTooltip="Espacio disponible">
    <mat-icon class="mrs-2" *ngIf="this.authService.currentUserValue.available_storage - this.authService.currentUserValue.storage_used < 31457280">disc_full</mat-icon>
    <mat-icon class="mrs-2" *ngIf="this.authService.currentUserValue.available_storage - this.authService.currentUserValue.storage_used >= 31457280">cloud_upload</mat-icon>
    <span class="mat-h4 mb-0">{{this.generalService.formatBytes(this.authService.currentUserValue.available_storage - this.authService.currentUserValue.storage_used)}}</span>
  </div>
</div>

<mat-menu #menuTheme="matMenu" style="z-index: 2000 !important;">
   <!-- <mat-radio-group labelPosition="before" fxLayout="column">
      <mat-radio-button [value]="0">
         Light
      </mat-radio-button>
      <mat-radio-button [value]="1">
         Dark
      </mat-radio-button>
   </mat-radio-group> -->
   <button mat-menu-item (click)="toggleDarkTheme(false)" fxFlex="100" fxLayoutAlign="space-between center">
      <span>Light</span>
      <mat-icon *ngIf="!isDarkTheme">checked</mat-icon>
   </button>
   <button mat-menu-item (click)="toggleDarkTheme(true)" fxFlex="100" fxLayoutAlign="space-between center">
      <span>Dark</span>
      <mat-icon *ngIf="isDarkTheme">checked</mat-icon>
   </button>
</mat-menu>
<cei-alert-error #alertError></cei-alert-error>
