<div fxLayout="row">
   <mat-form-field fxFlex="100" [formGroup]="form">
      <mat-label *ngIf="this.label">
         <mat-icon *ngIf="this.icon">{{ icon }}</mat-icon>
         <b>{{ label }}</b>
      </mat-label>
      <input matInput [formControlName]="name" id="{{name}}" name="{{name}}" [type]="hide ? 'password' : 'text'"
         placeholder="{{placeholder}}" [readonly]="readonly" [attr.disabled]="disabled? '' : null"
         maxlength={{maxLength}}>
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
         [attr.aria-pressed]="hide">
         <mat-icon [color]="'accent'">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error
         *ngIf="this.form.get(this.name).errors && (this.form.get(this.name).dirty || this.form.get(this.name).touched)">
         {{ objectValues(this.form.get(this.name).errors)[0] }}
      </mat-error>
   </mat-form-field>
</div>
