<div *ngIf="this.step == STEPS.LIST" fxFlex="100">
    <cei-card-table [metaData]="this.metaDataUsers" [title]="this.typeUserFilterSelected"
        (page)="onPaginatorEvent($event)">
        <div controlButtons fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">
            <button mat-raised-button color="accent" (click)="this.degradeOrPromote(typeUserFilter.STUDENT)"*ngIf="this.typeUserFilterSelected == typeUserFilter.STUDENT">
                Promover a becados
            </button>
            <button mat-raised-button color="accent" (click)="this.degradeOrPromote(typeUserFilter.SCHOLARSHIP)"*ngIf="this.typeUserFilterSelected == typeUserFilter.SCHOLARSHIP">
                Degradar a estudiantes
            </button>
            <button mat-raised-button color="accent" (click)="this.onReloadCopies()"*ngIf="this.typeUserFilterSelected == typeUserFilter.SCHOLARSHIP">
                Restaurar copias
            </button>
            <button mat-icon-button matTooltip="Crear usuario" [matMenuTriggerFor]="menuCreate">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Refrescar la búsqueda" (click)="this.onRefresh()">
                <mat-icon>refresh</mat-icon>
            </button>
            <mat-icon style="cursor: pointer;" class="text-secondary-darker" [matMenuTriggerFor]="menuSelect">
                more_vert
            </mat-icon>
        </div>
        <div filterInputs fxFlex="100" fxLayout="column" fxLayoutAlign="center">
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5%">
            <cei-text-searching-input [placeholder]="'Búsqueda rápida'" fxFlex="1 1 auto"
                [label]="'Buscar por nombre de usuario o email'" [inputFilterValue]="this.inputFilterValue"
                (onSearch)="this.inputFilterValue = $event;this.onGetUser()">
            </cei-text-searching-input>
            <mat-checkbox [disabled]="this.isLoadingGetUsers" [(ngModel)]="allUsersCheckbox" (change)="onGetUser()">
                Incluir usuarios deshabilitados
            </mat-checkbox>
          </div>
        </div>
        <ng-container table *ngIf="!this.isLoadingGetUsers; else loadingDiv">
            <table fxFlex="100" mat-table *ngIf="this?.dataSourceUsers?.data?.length > 0; else emptyTable"
                [dataSource]="dataSourceUsers">
                <!-- Checkbox for scholarships and students -->
                <ng-container matColumnDef="selection" sticky>
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let user">
                        <mat-checkbox (change)="onCheckbox($event.checked, user)"></mat-checkbox>
                    </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="name" sticky>
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let user">
                        {{ user?.display_name }}
                    </td>
                </ng-container>
                <!-- Email Column -->
                <ng-container matColumnDef="email" sticky>
                    <th mat-header-cell *matHeaderCellDef>E-mail</th>
                    <td mat-cell *matCellDef="let user">
                        {{ user?.email }}
                    </td>
                </ng-container>
                <!-- Dni Column -->
                <ng-container matColumnDef="dni" sticky>
                    <th mat-header-cell *matHeaderCellDef>DNI</th>
                    <td mat-cell *matCellDef="let user">
                        {{ user?.dni }}
                    </td>
                </ng-container>
                <!-- Dni Column -->
                <ng-container matColumnDef="copies" sticky>
                    <th mat-header-cell *matHeaderCellDef>Copias restantes</th>
                    <td mat-cell *matCellDef="let user">
                        <b>
                          {{ user?.remaining_copies }}
                        </b>
                        de {{ user?.available_copies }}
                    </td>
                </ng-container>
                <!-- Role Column -->
                <ng-container matColumnDef="role" sticky>
                    <th mat-header-cell *matHeaderCellDef>Rol</th>
                    <td mat-cell *matCellDef="let user">
                        {{ user?.typeText }}
                    </td>
                </ng-container>
                <!-- Disabled Column -->
                <ng-container matColumnDef="disabled" sticky>
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let user">
                        <button mat-icon-button (click)="onChangeEnabledUser(user)">
                            <mat-icon [ngClass]="{'text-warn': user?.disabled, 'text-primary': !user?.disabled }"
                                [matTooltip]="user?.disabled ? 'Usuario deshabilitado':'Usuario habilitado'">
                                {{ user?.disabled ? 'highlight_off' : 'done'}}
                            </mat-icon>
                        </button>
                    </td>
                </ng-container>
                <!-- Verified Column -->
                <ng-container matColumnDef="verified" sticky>
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let user">
                        <mat-icon
                            [ngClass]="{'text-warn': !user?.email_verified, 'text-primary': user?.email_verified }"
                            [matTooltip]="user?.email_verified ? 'Email verificado':'Email no verificado'">
                            {{ user?.email_verified ? 'mark_email_read': 'mark_email_unread'}}
                        </mat-icon>
                    </td>
                </ng-container>
                <!-- Scholarship Column -->
                <ng-container matColumnDef="scholarship" sticky>
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let user">
                        <button mat-icon-button (click)="onChangeScholarshipUser(user)">
                            <mat-icon
                                [ngClass]="{'text-warn': user?.type === 'Student', 'text-primary': user?.type === 'Student' }"
                                svgIcon="scholarship"
                                [matTooltip]="user?.type === 'Student' ? 'Usuario No Becado':'Usuario Becado'">
                            </mat-icon>
                        </button>
                    </td>
                </ng-container>
                <!-- Actions Column -->
                <ng-container matColumnDef="actions" sticky>
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let user">
                        <button mat-icon-button (click)="onEditUser(user)">
                            <mat-icon class="text-secondary m-0 mat-icon-medium" [matTooltip]="'Editar usuario'">
                                edit
                            </mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="password" sticky>
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let user">
                        <button mat-icon-button (click)="changePassword(user)">
                            <mat-icon class="text-secondary m-0 mat-icon-medium"
                                matTooltip="Modificar contraseña">lock</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <!-- Campus Column -->
                <ng-container matColumnDef="campus" sticky>
                    <th mat-header-cell *matHeaderCellDef>Sede</th>
                    <td mat-cell *matCellDef="let user">
                        {{ user?.campus?.name }}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" class="bg-on-hover">
                </tr>
            </table>
        </ng-container>

    </cei-card-table>
</div>

<div fxFlex="100" *ngIf="this.step == STEPS.CREATE_OR_EDIT">
    <cei-create-edit-user [typeUserSelected]="this.typeUserFilterSelectedPost" fxFlex="100" [user]="this.selectedUser"
        (created)="this.fromCreateOrEditToList(true)" (cancelled)="this.fromCreateOrEditToList(false)">
    </cei-create-edit-user>
</div>

<ng-template #loadingDiv>
    <app-spinner fxFlex="100" fxLayoutAlign="center start"></app-spinner>
</ng-template>
<ng-template #emptyTable>
    <span fxFlex="100" fxLayoutAlign="center">
        No se encontraron usuarios con el filtro aplicado
    </span>
</ng-template>

<mat-menu #menuSelect="matMenu">
    <button mat-menu-item [disabled]="this.typeUserFilterSelected == typeUserFilter.ALL"
        (click)="onTypeUserFilter(typeUserFilter.ALL)">
        <!-- <mat-icon>person</mat-icon> -->
        <span>{{typeUserFilter.ALL}}</span>
    </button>
    <button mat-menu-item [disabled]="this.typeUserFilterSelected == typeUserFilter.ADMIN"
        (click)="onTypeUserFilter(typeUserFilter.ADMIN)">
        <!-- <mat-icon>group</mat-icon> -->
        <span>{{typeUserFilter.ADMIN}}</span>
    </button>
    <button mat-menu-item [disabled]="this.typeUserFilterSelected == typeUserFilter.STUDENT"
        (click)="onTypeUserFilter(typeUserFilter.STUDENT)">
        <!-- <mat-icon>group</mat-icon> -->
        <span>{{typeUserFilter.STUDENT}}</span>
    </button>
    <button mat-menu-item [disabled]="this.typeUserFilterSelected == typeUserFilter.PROFESSOR_SHIP"
        (click)="onTypeUserFilter(typeUserFilter.PROFESSOR_SHIP)">
        <!-- <mat-icon>group</mat-icon> -->
        <span>{{typeUserFilter.PROFESSOR_SHIP}}</span>
    </button>
    <button mat-menu-item [disabled]="this.typeUserFilterSelected == typeUserFilter.SCHOLARSHIP"
        (click)="onTypeUserFilter(typeUserFilter.SCHOLARSHIP)">
        <!-- <mat-icon>group</mat-icon> -->
        <span>{{typeUserFilter.SCHOLARSHIP}}</span>
    </button>
    <button mat-menu-item [disabled]="this.typeUserFilterSelected == typeUserFilter.CAMPUS_USER"
        (click)="onTypeUserFilter(typeUserFilter.CAMPUS_USER)">
        <!-- <mat-icon>group</mat-icon> -->
        <span>{{typeUserFilter.CAMPUS_USER}}</span>
    </button>
</mat-menu>
<mat-menu #menuCreate="matMenu">
    <button mat-menu-item
        (click)="this.typeUserFilterSelectedPost = typeUserFilter.ADMIN; this.step = STEPS.CREATE_OR_EDIT">
        <!-- <mat-icon>group</mat-icon> -->
        <span>{{typeUserFilter.ADMIN}}</span>
    </button>
    <button mat-menu-item
        (click)="this.typeUserFilterSelectedPost = typeUserFilter.PROFESSOR_SHIP; this.step = STEPS.CREATE_OR_EDIT">
        <!-- <mat-icon>group</mat-icon> -->
        <span>{{typeUserFilter.PROFESSOR_SHIP}}</span>
    </button>
    <button mat-menu-item
        (click)="this.typeUserFilterSelectedPost = typeUserFilter.CAMPUS_USER; this.step = STEPS.CREATE_OR_EDIT">
        <!-- <mat-icon>group</mat-icon> -->
        <span>{{typeUserFilter.CAMPUS_USER}}</span>
    </button>
</mat-menu>

<cei-alert-error #alertError></cei-alert-error>
