<h1 mat-dialog-title>Cambio de contraseña</h1>
<form [formGroup]="this.changePasswordForm" *ngIf="!!this.changePasswordForm">
    <div mat-dialog-content>
        <cei-password-input [clearable]="true" [name]="this.PASSWORD"
            [form]="this.changePasswordForm" [placeholder]="'Nueva contraseña'">
        </cei-password-input>
    </div>
    <div mat-dialog-actions>
        <button type="button" mat-raised-button mat-dialog-close color="warn">Cerrar</button>
        <button type="button" (click)="this.onSubmit()" [disabled]="!changePasswordForm.valid || isSent"
            mat-raised-button [color]="!isSent ? 'primary' : 'accent'">
            <mat-icon *ngIf="!changePasswordForm.valid; else saveIcon">lock</mat-icon>
        <ng-template #saveIcon>
            <mat-icon *ngIf="changePasswordForm.valid && !isLoadingPatchUser; else elseIf">save</mat-icon>
        </ng-template>
        <span *ngIf="!isLoadingPatchUser && !isSent">
            Enviar
        </span>
        <span *ngIf="changePasswordForm.valid && isLoadingPatchUser && !isSent">
            Enviando
        </span>
        <span *ngIf="!isLoadingPatchUser && isSent">
            Enviado!
        </span>
        <ng-template #elseIf>
            <mat-icon *ngIf="changePasswordForm.valid && isLoadingPatchUser && !isSent; else sentIcon">
                <mat-spinner color="accent" diameter="20">
                </mat-spinner>
            </mat-icon>
        </ng-template>
        <ng-template #sentIcon>
            <mat-icon>done</mat-icon>
        </ng-template>
        </button>
    </div>
</form>
<cei-alert-error #alertError></cei-alert-error>