<cei-card-table [metaData]="this.metaDataOrders" (page)="onPaginatorEvent($event)">
    <!-- <div controlButtons fxLayout="row" fxLayoutGap="15px">
        <button mat-icon-button [matMenuTriggerFor]="menuUser">
            <mat-icon [color]="'primary'" class="medium">scatter_plot</mat-icon>
        </button>
    </div> -->
    <cei-text-searching-input
        filterInputs
        fxFlex="90"
        [placeholder]="'Ingrese el id del pedido, dni o nombre del cliente'"
        [label]="'Buscar por nombre, dni o id de pedido'"
        [inputFilterValue]="this.inputFilterValue"
        (onSearch)="this.inputFilterValue = $event; this.onSearch($event)"
    >
    </cei-text-searching-input>
    <table table fxFlex="100" mat-table *ngIf="!this.isLoadingGetOrders; else loadingDiv" [dataSource]="dataSourceOrders">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let data">{{ data.id_number }}</td>
        </ng-container>
        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Fecha de solicitud</th>
            <td mat-cell *matCellDef="let data">{{ data.tracking[0].timestamp | date: 'dd/MM/yyyy' }}</td>
        </ng-container>

        <!-- DNI Column -->
        <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef>DNI</th>
            <td mat-cell *matCellDef="let data">{{ data.student.dni }}</td>
        </ng-container>

        <!-- Student Column -->
        <ng-container matColumnDef="student">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let data">{{ data.student.display_name }}</td>
        </ng-container>

        <!-- state Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let data">{{ data.state.name }}</td>
        </ng-container>

        <!-- subtotal Column -->
        <ng-container matColumnDef="subtotal">
            <th mat-header-cell *matHeaderCellDef>Subtotal</th>
            <td mat-cell *matCellDef="let data">
              {{ data.subtotal | moneda }}
              <span class="text-warn" *ngIf="data.discount">
                (-{{ data.discount | moneda}})
              </span>
            </td>
        </ng-container>

        <!-- price Column -->
        <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let data">
              <b>
                {{ data.total | moneda }}
              </b>
            </td>
        </ng-container>

        <!-- actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <!-- Detail button -->
                <button [disabled]="element.isLoading" mat-icon-button (click)="openBottomSheet(element)">
                    <mat-icon *ngIf="!element.isLoading; else loadingIcon" [color]="'primary'">loupe</mat-icon>
                    <ng-template #loadingIcon>
                        <mat-icon>
                            <mat-spinner color="accent" diameter="20"> </mat-spinner>
                        </mat-icon>
                    </ng-template>
                </button>
                <button
                  *ngIf="element.state.code === ORDER_STATES.NO_ENTREGADO"
                  mat-icon-button [matMenuTriggerFor]="menuActions" [matMenuTriggerData]="{ order: element }"
                  [disabled]="this.isLoadingPatchOrder[element.id]">
                  <mat-icon [color]="'primary'">menu</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" class="bg-on-hover"></tr>
    </table>
</cei-card-table>
<mat-menu #menuActions="matMenu">
   <ng-template matMenuContent let-order="order">
     <button mat-menu-item fxLayoutAlign="center stretch"
     (click)="onClickChangeStateOrder(order, this.ORDER_STATES.ENTREGADO)">
      Entregar
    </button>
   </ng-template>
</mat-menu>
<ng-template #loadingDiv>
    <app-spinner fxFlex="100" fxLayoutAlign="center start"></app-spinner>
</ng-template>
<cei-alert-error #alertError></cei-alert-error>
