<div fxLayout="row wrap" fxLayoutAlign="center">
   <mat-card *ngFor="let movement of movements" fxFlex="85%" class="my-1">
      <mat-card-content fxLayout="row wrap" fxLayoutAlign="start center">
         <mat-icon matListIcon svgIcon="{{movement.icon}}" class="iconos mx-1"></mat-icon>
         <span fxFlexOffset="2" fxFlex="70"> {{movement.description}} </span>
         <span fxFlexOffset="2" fxFlex="15" fxFlexAlign="end">
            <span>${{movement.importe}}</span>
            <mat-card-subtitle>
               {{movement.fecha.toString().substr(0,10)}}
            </mat-card-subtitle>
         </span>
      </mat-card-content>
   </mat-card>
</div>
