<mat-toolbar fxLayoutAlign="space-between center" class="position-sticky mat-toolbar-right mat-elevation-z2">
    <div fxFlex.lt-md="100" fxFlex.gt-sm="30" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center center">
        <img src="assets/logos/cei-verde.png" alt="" style="width: 50px;
            height: auto;">
        <!-- <mat-icon class="text-primary">directions_boat</mat-icon> -->
    </div>
    <div fxFlex.gt-sm="40" fxHide="true" fxShow.gt-sm fxLayoutAlign="center start">
        <span>Repositorio de archivos</span>
    </div>
    <div fxFlex.gt-sm="30" fxLayout="row wrap" fxHide="true" fxShow.gt-sm fxLayoutAlign="end center" fxLayoutGap="5%">
        <a rel="noopener noreferrer" href="https://www.facebook.com/cei.unmdp" target="_blank">
            <mat-icon mat-list-icon [style.width.px]="30" [style.height.px]="30" [svgIcon]="'facebook'">
            </mat-icon>
        </a>
        <a rel="noopener noreferrer" href="https://twitter.com/cei_unmdp" target="_blank">
            <mat-icon mat-list-icon [style.width.px]="30" [style.height.px]="30" [svgIcon]="'twitter'">
            </mat-icon>
        </a>
        <a rel="noopener noreferrer" href="https://www.instagram.com/cei_unmdp/" target="_blank">
            <mat-icon mat-list-icon [style.width.px]="30" [style.height.px]="30" [svgIcon]="'instagram'">
            </mat-icon>
        </a>
    </div>
</mat-toolbar>



<!-- <div fxFlex.gt-sm="30" fxHide="true" fxShow.gt-sm fxLayoutAlign="start center"> -->
<!-- <mat-icon class="mat-icon-medium mrs-1 text-secondary">call</mat-icon>
            <span class="mat-body text-secondary"> 0810-333-4002</span> -->
<!-- </div> -->
<!-- <div fxFlex.lt-md="100" fxFlex.gt-sm="40" fxLayoutAlign="center start">
        <img alt="Logo de la empresa" src="assets/logos/ADomicilio horizontal.png" style="width: 220px;
            height: auto;" />
    </div>
    <div fxFlex.gt-sm="30" fxLayout="row wrap" fxHide="true" fxShow.gt-sm fxLayoutAlign="end center" fxLayoutGap="5%">
        <a rel="noopener noreferrer" href="https://www.facebook.com/ADomicilioSalud/" target="_blank">
            <mat-icon mat-list-icon [style.width.px]="30" [style.height.px]="30" [svgIcon]="'facebook'">
            </mat-icon>
        </a>
        <a rel="noopener noreferrer" href="https://twitter.com/ADomicilioSA" target="_blank">
            <mat-icon mat-list-icon [style.width.px]="30" [style.height.px]="30" [svgIcon]="'twitter'">
            </mat-icon>
        </a>
        <a rel="noopener noreferrer" href="https://www.linkedin.com/in/adomiciliosalud/" target="_blank">
            <mat-icon mat-list-icon [style.width.px]="30" [style.height.px]="30" [svgIcon]="'linkedin'">
            </mat-icon>
        </a>
    </div> -->