<div style="min-height: 100vh;">
   <cei-header></cei-header>
   <!-- Container padre de las cards (filas)-->
   <div class="mt-4" fxLayout="row wrap" fxLayoutAlign="center start">
      <!-- <mat-card class="m-0" fxFlex.lt-md="100" fxFlex.gt-md="40" fxFlexOffset.gt-sm="5%"
          [ngClass.lt-md]="{ 'border-radius-0': true}"> -->
      <mat-card class="m-0" fxFlex.lt-md="100" fxFlex.gt-md="40" [ngClass.lt-md]="{ 'border-radius-0': true}">
         <mat-card-content>
            <mat-tab-group #tabs [selectedIndex]="selectedTab" [color]="'accent'" mat-stretch-tabs
               mat-align-tabs="center">
               <mat-tab class="p-5">
                  <ng-template mat-tab-label>
                     <mat-icon class="example-tab-icon">exit_to_app</mat-icon>
                     <span class="ml-2">Iniciar sesión</span>
                  </ng-template>
                  <mat-card>
                     <mat-card-content>
                        <form fxLayout="column" [formGroup]="formLogin" (ngSubmit)="onLogin()">
                           <!-- <cei-input-text fxFlexOffset="10px" [name]="'email'" [form]="formLogin" [type]="'text'"
                              [placeholder]="'Ingrese su email'">
                           </cei-input-text> -->
                           <cei-email-input class="mt-2" [form]="formLogin" [name]="'email'"
                              [placeholder]="'Ingrese su email'" [clearable]="true">
                           </cei-email-input>
                           <!-- <cei-input-text [name]="'password'" [form]="formLogin" [type]="'password'"
                              [placeholder]="'Ingrese su contraseña'">
                           </cei-input-text> -->

                           <cei-password-input class="mt-2 mb-3" [name]="'password'" [form]="formLogin"
                              [placeholder]="'Ingrese su contraseña'">
                           </cei-password-input>

                           <button mat-flat-button type="submit" color="primary"
                              [disabled]="!formLogin.valid">Ingresar</button>
                           <cei-alert [message]='this.messageAlert' [type]='this.typeAlert'></cei-alert>
                        </form>
                        <div class="my-2">
                           <a [routerLink]="['/']" class="text-primary-darker">
                              ¿Olvidaste tu contraseña?
                           </a>
                        </div>
                     </mat-card-content>
                  </mat-card>
               </mat-tab>
               <mat-tab label="Registrarse">
                  <mat-card class="border-radius-0">
                     <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">assignment_ind</mat-icon>
                        <span class="ml-2">Registrarse</span>
                     </ng-template>
                     <mat-card-content>
                        <form fxLayout="column" [formGroup]="formRegister" (ngSubmit)="onRegister()">
                           <cei-input-text [form]="formRegister" [name]="'name'" [type]="'text'"
                              [placeholder]="'Ingrese su nombre'">
                           </cei-input-text>
                           <cei-input-text [form]="formRegister" [name]="'surname'" [type]="'text'"
                              [placeholder]="'Ingrese su apellido'">
                           </cei-input-text>
                           <cei-input-text [form]="formRegister" [name]="'email'" [type]="'text'"
                              [placeholder]="'Ingrese su email'">
                           </cei-input-text>
                           <cei-input-text [form]="formRegister" [name]="'dni'" [type]="'number'"
                              [placeholder]="'Ingrese su dni'">
                           </cei-input-text>
                           <cei-input-text [form]="formRegister" [name]="'password'" [type]="'password'"
                              [placeholder]="'Ingrese su contraseña'">
                           </cei-input-text>
                           <button mat-flat-button type="submit" color="primary"
                              [disabled]="!formRegister.valid">Registrarse</button>
                        </form>
                     </mat-card-content>
                  </mat-card>
               </mat-tab>
            </mat-tab-group>
         </mat-card-content>
      </mat-card>
      <!-- <cei-animated-text></cei-animated-text> -->
   </div>
   <!-- <cei-footer></cei-footer> -->
</div>

<cei-alert-error #alertError></cei-alert-error>
<swal #registerSuccessSwal title="Te registraste correctamente" text="Se te envió un mail de confirmación a tu correo"
   icon="success" [confirmButtonText]="'Ok'" (confirm)="this.cleanForms()">
</swal>
