<div fxFlex="100">
    <cei-card-table [metaData]="this.metaDataItems" [title]="'Listado de movimientos'" (page)="onPaginatorEvent($event)">
        <div controlButtons fxLayout="row" fxLayoutGap="15px">
            <button mat-icon-button matTooltip="Refrescar la búsqueda" (click)="this.onRefresh()">
                <mat-icon>refresh</mat-icon>
            </button>
            <mat-icon style="cursor: pointer;" class="text-secondary-darker" [matMenuTriggerFor]="menuSelect">
                more_vert
            </mat-icon>
        </div>
        <table table fxFlex="100" mat-table *ngIf="!this.isLoadingGetMovements; else loadingDiv"
            [dataSource]="dataSourceMovements">
            <!-- movementDate Column -->
            <ng-container matColumnDef="movementDate" sticky>
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let movement">
                    {{ movement.date | date: "dd/MM/yy H:mm" }}
                </td>
            </ng-container>
            <!-- movementType Column -->
            <ng-container matColumnDef="movementType" sticky>
                <th mat-header-cell *matHeaderCellDef>Tipo de movimiento</th>
                <td mat-cell *matCellDef="let movement">
                    {{ movement.type.name }}
                </td>
            </ng-container>
            <!-- movementSource Column -->
            <ng-container matColumnDef="movementSource" sticky>
                <th mat-header-cell *matHeaderCellDef>De</th>
                <td mat-cell *matCellDef="let movement">
                    {{ movement.source.display_name }}
                </td>
            </ng-container>
            <!-- movementTarget Column -->
            <ng-container matColumnDef="movementTarget" sticky>
                <th mat-header-cell *matHeaderCellDef>Hacia</th>
                <td mat-cell *matCellDef="let movement">
                    {{ movement.target.display_name }}
                </td>
            </ng-container>
            <!-- movementAmount Column -->
            <ng-container matColumnDef="movementAmount" sticky>
                <th mat-header-cell *matHeaderCellDef>Monto</th>
                <td [ngClass]="{'text-success': isIncome(movement), 'text-warn': !isIncome(movement)}" mat-cell *matCellDef="let movement">
                   {{ isIncome(movement) ? '': '-' }} {{ movement.amount | moneda }}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" class="bg-on-hover">
            </tr>
        </table>
    </cei-card-table>
</div>

<ng-template #loadingDiv>
    <app-spinner fxFlex="100" fxLayoutAlign="center start"></app-spinner>
</ng-template>

<mat-menu #menuSelect="matMenu">
    <button [ngClass]="{'text-primary': (this.movementTypeSelected === this.movementsEnum.ALL)}" mat-menu-item [disabled]="this.movementTypeSelected == this.movementsEnum.ALL"
        (click)="onTypeMovementFilter(this.movementsEnum.ALL)">
        <!-- <mat-icon>person</mat-icon> -->
        <span>{{movementType.ALL}}</span>
    </button>
    <button [ngClass]="{'text-primary': this.movementTypeSelected === this.movementsEnum.TRANSFER}" mat-menu-item [disabled]="this.movementTypeSelected == this.movementsEnum.TRANSFER"
        (click)="onTypeMovementFilter(this.movementsEnum.TRANSFER)">
        <!-- <mat-icon>group</mat-icon> -->
        <span>{{movementType.TRANSFER}}</span>
    </button>
    <button [ngClass]="{'text-primary': this.movementTypeSelected === this.movementsEnum.TOP_UP}" mat-menu-item [disabled]="this.movementTypeSelected == this.movementsEnum.TOP_UP"
        (click)="onTypeMovementFilter(this.movementsEnum.TOP_UP)">
        <!-- <mat-icon>group</mat-icon> -->
        <span>{{movementType.TOP_UP}}</span>
    </button>
    <button [ngClass]="{'text-primary': this.movementTypeSelected == this.movementsEnum.REQUESTED_ORDER}" mat-menu-item [disabled]="this.movementTypeSelected == this.movementsEnum.REQUESTED_ORDER"
        (click)="onTypeMovementFilter(this.movementsEnum.REQUESTED_ORDER)">
        <!-- <mat-icon>group</mat-icon> -->
        <span>{{movementType.REQUESTED_ORDER}}</span>
    </button>
    <button [ngClass]="{'text-primary': this.movementTypeSelected == this.movementsEnum.CANCELLED_ORDER}" mat-menu-item [disabled]="this.movementTypeSelected == movementType.CANCELLED_ORDER"
        (click)="onTypeMovementFilter(this.movementsEnum.CANCELLED_ORDER)">
        <!-- <mat-icon>group</mat-icon> -->
        <span>{{movementType.CANCELLED_ORDER}}</span>
    </button>
</mat-menu>
<cei-alert-error #alertError></cei-alert-error>