<div fxLayout="row" fxLayoutAlign="center center">

<mat-icon class="mrs-2" *ngIf="leftIcon">
   {{ leftIcon }}
</mat-icon>
<mat-icon class="mrs-2" style="min-height: 20px; min-width: 20px;" *ngIf="leftIconSvg"
   [svgIcon]="leftIconSvg"></mat-icon>

<mat-form-field style="width: 100% !important" [formGroup]="form">
   <mat-label *ngIf="this.label">
      <mat-icon *ngIf="this.icon">{{ icon }}</mat-icon>
      <b>{{ label }}</b>
   </mat-label>
   <mat-hint *ngIf="!!this.hint">
      {{ this.hint }}
   </mat-hint>
   <input
      matInput
      [formControlName]="name"
      id="{{ name }}"
      name="{{ name }}"
      type="text"
      placeholder="{{ placeholder }}"
      [readonly]="readonly"
      [attr.disabled]="disabled ? '' : null"
      maxlength="{{ maxLength }}"
   />
   <button
      [disabled]="!this.form.get(this.name).value || this.form.get(this.name).disabled"
      type="button"
      mat-button
      *ngIf="this.clearable"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="this.form.get(this.name).reset()"
   >
      <mat-icon>close</mat-icon>
   </button>
   <mat-error
      *ngIf="this.form.get(this.name).errors && (this.form.get(this.name).dirty || this.form.get(this.name).touched)"
   >
      {{ objectValues(this.form.get(this.name).errors)[0] }}
   </mat-error>
</mat-form-field>
</div>
