<!-- <p>
   <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">Dark theme
   </mat-slide-toggle>
</p> -->
<!-- <div id="rectangle" fxLayout="row" fxLayoutAlign="start center" class="bg-primary">
   <a href="/cei/home">
      <img fxFlexOffset="2%" src="../../../assets/images/cei3.png" alt="Logo CEI" height="80%">
   </a>
</div> -->


<mat-toolbar color="primary" class="position-sticky mat-toolbar-right">
   <div fxLayout="row" fxFlex="100">
      <div fxHide fxShow.gt-sm fxFlex.lt-md="100" fxFlex.gt-sm="30" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center center">
         <img src="assets/images/cei-blanco.png" alt="" style="width: 50px;
             height: auto;">
         <!-- <mat-icon class="text-primary">directions_boat</mat-icon> -->
      </div>
      <div fxFlex.gt-sm="40" fxFlex="100" fxLayoutAlign="center center">
         Sistema online de impresiones
      </div>
      <div fxHide fxShow.gt-sm fxFlexOffset="20" fxFlex="10" fxLayoutAlign="end center">
         <cei-toggle-theme class="ml-5"></cei-toggle-theme>
         <!-- <span class="mat-subheading-2 m-0" fxFlex="80">¿tema?</span> -->
      </div>
   </div>
</mat-toolbar>
