<div *ngIf="this.step == STEPS.LIST_COURSES" fxFlex="100">
   <cei-card-table [metaData]="this.metaDataCourses" [title]="'Gestión de archivos'" (page)="onPaginatorEvent($event)">
       <div controlButtons fxLayout="row" fxLayoutGap="15px">
            <button mat-icon-button fxLayoutAlign="end center" matTooltip="Agregar archivos" (click)="this.displayAddFiles()">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Refrescar la búsqueda" (click)="this.onRefresh()">
               <mat-icon>refresh</mat-icon>
           </button>
       </div>
       <cei-text-searching-input filterInputs fxFlex="100" [placeholder]="'Búsqueda rápida por materia'"
           [label]="'Ingrese el nombre de la materia'" [inputFilterValue]="this.inputFilterValueCourses"
           (onSearch)="this.inputFilterValueCourses = $event;this.onSearchCourses($event)">
       </cei-text-searching-input>
       <table table fxFlex="100" mat-table *ngIf="!this.isLoadingGetCourses; else loadingDiv"
           [dataSource]="dataSourceCourses">
           <!-- courseName Column -->
           <ng-container matColumnDef="courseName" sticky>
               <th mat-header-cell *matHeaderCellDef>Nombre</th>
               <td mat-cell *matCellDef="let course">
                   {{ course.name }}
               </td>
           </ng-container>
           <!-- actions Column -->
           <ng-container matColumnDef="actions">
               <th mat-header-cell *matHeaderCellDef></th>
               <td mat-cell *matCellDef="let course">
                   <div fxLayoutAlign="end">
                       <button mat-icon-button
                           (click)="this.generalService.stopPropagation($event);this.selectCourseFiles(course)">
                           <mat-icon class="text-secondary m-0 mat-icon-medium" matTooltip="Editar archivos">
                            keyboard_arrow_right
                           </mat-icon>
                       </button>
                   </div>
               </td>
           </ng-container>
           <tr mat-header-row *matHeaderRowDef="displayedColumnsCourses; sticky: true"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumnsCourses" class="bg-on-hover">
           </tr>
       </table>
   </cei-card-table>
</div>

<div *ngIf="this.filesForm && this.step == STEPS.ADD_FILES" fxFlex="100">
    <form [formGroup]="filesForm" fxLayout="row wrap"
    fxLayoutAlign="center center" (submit)="this.uploadFiles()">
    <mat-card fxFlex="100">
       <mat-card-header>
          <mat-card-title>
             <span class="my-4">
                Añadir nuevo archivo
             </span>
          </mat-card-title>
       </mat-card-header>
       <mat-card-content fxLayout="column">
          <mat-divider [inset]="true"></mat-divider>
          <ng-select [items]="this.courses" bindLabel="name" bindValue="id" labelForId="state" [multiple]="true"
             placeholder="Seleccione materias" [formControlName]="this.SUBJECT" (search)="onSearchCoursesForFiles($event)"
             [notFoundText]="'Búsqueda sin resultados'" (add)="this.addCourse($event)"
             (remove)="this.removeCourse($event)">
          </ng-select>
          <cei-file-input [options]="this.pondOptions" [name]="this.FILES" [form]="this.filesForm"
             [files]="this.files"></cei-file-input>
       </mat-card-content>
       <mat-card-actions>
          <button type="button" (click)="this.backToListCourses()" fxFlex="50%" mat-raised-button color="warn">
             Cancelar
          </button>
          <button type="submit" fxFlex="50%" mat-raised-button color="accent" [disabled]="!this.filesForm.valid">
             Agregar archivos
          </button>
       </mat-card-actions>
    </mat-card>
 </form>
</div>

<div *ngIf="this.step == STEPS.LIST_FILES" fxFlex="100">
  <button mat-raised-button color="primary" matTooltip="Volver" (click)="this.backToListCourses()" fxLayoutAlign="center center">
    <mat-icon>keyboard_arrow_left</mat-icon>
    Volver
  </button>
   <cei-card-table class="mt-3" [metaData]="this.metaDataFiles" [title]="'Gestión de archivos'" (page)="onPaginatorFileEvent($event)">
       <div controlButtons fxLayout="row" fxLayoutGap="15px">
            <button mat-icon-button matTooltip="Refrescar la búsqueda" (click)="this.onRefreshFiles()">
               <mat-icon>refresh</mat-icon>
           </button>
       </div>
       <cei-text-searching-input filterInputs fxFlex="100" [placeholder]="'Búsqueda rápida por materia'"
           [label]="'Ingrese el nombre del archivo'" [inputFilterValue]="this.inputFilterValueFiles"
           (onSearch)="this.inputFilterValueFiles = $event;this.onSearchFiles($event)">
       </cei-text-searching-input>
       <table table fxFlex="100" mat-table *ngIf="!this.isLoadingGetFiles; else loadingDiv"
           [dataSource]="dataSourceFiles">
           <!-- courseName Column -->
           <ng-container matColumnDef="fileName" sticky>
               <th mat-header-cell *matHeaderCellDef>Nombre</th>
               <td mat-cell *matCellDef="let file">
                   {{ file.name }}
               </td>
           </ng-container>
           <!-- actions Column -->
           <ng-container matColumnDef="actions">
               <th mat-header-cell *matHeaderCellDef></th>
               <td mat-cell *matCellDef="let file">
                   <div fxLayoutAlign="end">
                       <button mat-icon-button
                           (click)="this.generalService.stopPropagation($event);this.onClickEditFile(file)">
                           <mat-icon class="text-secondary m-0 mat-icon-medium" matTooltip="Editar archivo">
                               edit
                           </mat-icon>
                       </button>
                       <button (click)="this.onClickDelete(file)" mat-icon-button>
                       <mat-icon class="text-secondary m-0 mat-icon-medium" matTooltip="Eliminar archivo">
                           delete
                       </mat-icon>
                   </button>
                   </div>
                   <!-- <swal #confirmDeleteSwal title="Eliminar archivo" text="¿Seguro que desea eliminar el archivo: {{
                        file.name
                        }}?" type="question" (confirm)="this.deleteFile(file)" [showCancelButton]="true"
                    [confirmButtonText]="'Si'" [cancelButtonText]="'No'">
                  </swal> -->
               </td>
           </ng-container>
           <tr mat-header-row *matHeaderRowDef="displayedColumnsFiles; sticky: true"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumnsFiles" class="bg-on-hover">
           </tr>
       </table>
   </cei-card-table>
</div>


<div fxFlex="100" *ngIf="this.step == STEPS.EDIT">
   <cei-edit-file *ngIf="!this.isLoadingGetFiles; else loadingDiv" fxFlex="100" [file]="this.selectedFile"
       (created)="this.fromCreateOrEditToList(true)" (cancelled)="this.fromCreateOrEditToList(false)">
   </cei-edit-file>
</div>

<cei-alert-error #alertError></cei-alert-error>

<ng-template #loadingDiv>
   <app-spinner fxFlex="100" fxLayoutAlign="center start"></app-spinner>
</ng-template>
