<!-- </form> -->
<div fxLayout="row wrap">
  <div fxFlex="100%">
    <form *ngIf="this.confirmOrderForm" [formGroup]="confirmOrderForm" fxLayout="column">
      <cei-select-input [calculateName]="this.calculateNameCampus" [calculateId]="this.calculateIdCampus"
        fxFlex="1 1 auto" [name]="this.CAMPUS" [form]="confirmOrderForm"
        [placeholder]="'Seleccione la sede donde lo retirará'" [elements]="this.campuses">
      </cei-select-input>
    </form>
  </div>
</div>

<!-- Tabla de detalles del pedido -->
<div class="my-4" fxLayout="row wrap">
  <div fxFlex="100%">
    <table fxFlex="100%" mat-table *ngIf="this.dataSource" [dataSource]="this.dataSource" class="mat-elevation-z8">
      <!-- Item Name Column -->
      <ng-container matColumnDef="file">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td mat-cell *matCellDef="let item">
          {{item?.name}}
        </td>
        <td mat-footer-cell *matFooterCellDef><b>Total</b></td>
      </ng-container>

      <!-- totalPages Column -->
      <ng-container matColumnDef="totalPages">
        <th mat-header-cell *matHeaderCellDef>Páginas Totales</th>
        <td mat-cell *matCellDef="let item">
          <span *ngIf="item.totalPages">
            {{ item?.totalPages }}
          </span>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
        <td mat-cell *matCellDef="let item">
          <ng-container *ngIf="item.quantity">
            {{ item.quantity }}
          </ng-container>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- unitPrice Column -->
      <ng-container matColumnDef="unitPrice">
        <th mat-header-cell *matHeaderCellDef>Precio Unitario</th>
        <td mat-cell *matCellDef="let item">
          <ng-container *ngIf="item.unitPrice">
            {{ item.unitPrice | moneda }}
          </ng-container>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- totalPrice Column -->
      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef>Precio Total</th>
        <td mat-cell *matCellDef="let item">
          <ng-container *ngIf="item.totalPrice">
            {{ item.totalPrice | moneda }}
          </ng-container>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <b>{{totalPrice | moneda}}</b>
        </td>
      </ng-container>

      <!-- Disclaimer column -->
      <ng-container matColumnDef="disclaimer">
        <td mat-footer-cell *matFooterCellDef colspan="2">
          <span *ngIf="this.confirmOrderForm.valid" class="accent">
            Verifique los datos del pedido y luego presione finalizar.
          </span>
          <span *ngIf="!this.confirmOrderForm.get(this.CAMPUS).valid" class="warn">
            Por favor, seleccione en la parte superior la sede donde lo retirará
          </span>
        </td>
      </ng-container>

      <!-- The table will render two header rows, one data row per data object, and two footer rows. -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns" class="example-first-footer-row"></tr>
      <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></tr>
    </table>
  </div>
</div>

<button mat-button matStepperPrevious>Atrás</button>
<button mat-raised-button [color]="'primary'" (click)="this.onSubmit()">
  Finalizar
</button>
