<div *ngIf="this.step == STEPS.LIST" fxFlex="100">
    <mat-card fxFlex="100">
        <mat-card-header class="pl-0 ml-0" fxLayoutAlign="space-between center">
            <mat-card-title class="mb-0">Materias</mat-card-title>
            <div fxLayout="row" fxLayoutGap="15px">
                <button mat-icon-button matTooltip="Nueva materia" (click)="this.step = STEPS.CREATE_OR_EDIT">
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Refrescar la búsqueda" (click)="this.onRefresh()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
            <!-- <mat-icon class="cursor-pointer ">add
            </mat-icon> -->
        </mat-card-header>
        <mat-card-content>
            <div fxFlex="100" fxLayout="column" *ngIf="!!this.dataSourceCourses">
                <table fxFlex="100" mat-table *ngIf="!this.isLoadingGetCourses; else loadingDiv"
                    [dataSource]="dataSourceCourses">
                    <!-- courseId Column -->
                    <ng-container matColumnDef="courseId" sticky>
                        <th mat-header-cell *matHeaderCellDef>Id</th>
                        <td mat-cell *matCellDef="let course">
                            {{ course.id }}
                        </td>
                    </ng-container>
                    <!-- courseName Column -->
                    <ng-container matColumnDef="courseName" sticky>
                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                        <td mat-cell *matCellDef="let course">
                            {{ course.name }}
                        </td>
                    </ng-container>
                    <!-- actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let course">
                            <button class="showOnHover" mat-icon-button
                                (click)="this.generalService.stopPropagation($event);this.onClickEditCourse(course)">
                                <mat-icon class="text-secondary m-0" matTooltip="Editar materia">edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="bg-on-hover">
                    </tr>
                </table>
                <mat-paginator fxFlex="100" pageSize="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                    (page)="onPaginatorEvent()"></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div fxFlex="100" *ngIf="this.step == STEPS.CREATE_OR_EDIT">
    <cei-create-edit-course *ngIf="!this.isLoadingGetCareers && !this.isLoadingGetYears; else loadingDiv" fxFlex="100"
        [careers]="this.careers" [years]="this.years" [course]="this.selectedCourse"
        (created)="this.fromCreateOrEditToList()" (cancelled)="this.fromCreateOrEditToList()"></cei-create-edit-course>
</div>

<ng-template #loadingDiv>
    <app-spinner fxFlex="100" fxLayoutAlign="center start"></app-spinner>
</ng-template>