<div *ngIf="this.step == STEPS.LIST" fxFlex="100">
    <cei-card-table [metaData]="this.metaDataCourses" [title]="'Gestión de materias'" (page)="onPaginatorEvent($event)">
        <div controlButtons fxLayout="row" fxLayoutGap="15px">
            <button mat-icon-button matTooltip="Nueva materia" (click)="this.step = STEPS.CREATE_OR_EDIT">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Refrescar la búsqueda" (click)="this.onRefresh()">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        <cei-text-searching-input filterInputs fxFlex="100" [placeholder]="'Búsqueda rápida'"
            [label]="'Ingrese el nombre de la materia'" [inputFilterValue]="this.inputFilterValue"
            (onSearch)="this.inputFilterValue = $event;this.onSearch($event)">
        </cei-text-searching-input>
        <table table fxFlex="100" mat-table *ngIf="!this.isLoadingGetCourses; else loadingDiv"
            [dataSource]="dataSourceCourses">
            <!-- careers Column -->
            <ng-container matColumnDef="careers" sticky>
                <th mat-header-cell *matHeaderCellDef>Carreras</th>
                <td mat-cell *matCellDef="let course">
                    <div class="mys-2">
                        <ng-container
                            *ngFor="let relation of course.relations; let iRelation = index; let qRelations = count">
                            <ng-container
                                *ngFor="let career of relation.careers;let iCareer = index; let qCareers = count">
                                <div fxLayoutAlign="start center">
                                    <mat-chip-list>
                                        <mat-chip [ngClass]="{'mts-4':(iRelation != 0 || iCareer != 0)}"
                                            *ngIf="(iRelation == 0 && iCareer == 0) || course.show">
                                            <span class="mat-small">
                                                {{relation.name + ' ' + career.name }}
                                            </span>
                                        </mat-chip>
                                        <mat-chip [matTooltip]="course.show ? 'Ocultar' : 'Expandir'"
                                            style="cursor: pointer;" color="accent" selected
                                            (click)="course.show ?  course.show = false : course.show = true"
                                            *ngIf="((qRelations + qCareers - 1) > 1) && iRelation == 0 && iCareer == 0">
                                            <span class="mat-small">
                                                <!-- {{relation.name + ' ' + career.name + ((qRelations + qCareers - 1) > 1 ? (' ' +  (qRelations + qCareers - 1) + '+') : '')}} -->
                                                <ng-container *ngIf="!course.show">
                                                    {{(qRelations + qCareers - 2) + '+'}}
                                                </ng-container>
                                                <ng-container *ngIf="course.show">
                                                    {{'—'}}
                                                </ng-container>

                                            </span>
                                        </mat-chip>
                                    </mat-chip-list>
                                </div>
                            </ng-container>
                        </ng-container>

                    </div>

                    <!-- {{ course.id }} -->
                </td>
            </ng-container>
            <!-- courseName Column -->
            <ng-container matColumnDef="courseName" sticky>
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let course">
                    {{ course.name }}
                </td>
            </ng-container>
            <!-- actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let course">
                    <div fxLayoutAlign="end">
                        <button class="text-accent" mat-icon-button
                            (click)="this.generalService.stopPropagation($event);this.onClickEditCourse(course)">
                            <mat-icon class="m-0 mat-icon-medium" matTooltip="Editar materia">
                                edit
                            </mat-icon>
                        </button>
                        <button class="text-warn" mat-icon-button
                            (click)="this.generalService.stopPropagation($event);this.onClickDeleteCourse(course)">
                            <mat-icon class="m-0" matTooltip="Borrar materia">delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" class="bg-on-hover">
            </tr>
        </table>
    </cei-card-table>
</div>

<div fxFlex="100" *ngIf="this.step == STEPS.CREATE_OR_EDIT">
    <cei-create-edit-course *ngIf="!this.isLoadingGetCareers && !this.isLoadingGetYears; else loadingDiv" fxFlex="100"
        [careers]="this.careers" [years]="this.years" [course]="this.selectedCourse"
        (created)="this.fromCreateOrEditToList(true)" (cancelled)="this.fromCreateOrEditToList(false)">
    </cei-create-edit-course>
</div>

<cei-alert-error #alertError></cei-alert-error>

<ng-template #loadingDiv>
    <app-spinner fxFlex="100" fxLayoutAlign="center start"></app-spinner>
</ng-template>
