<div fxLayout="row wrap" fxLayoutAlign="space-between">
   <!-- Accesos directos -->
   <div class=" mb-3" fxLayout="row wrap" fxLayoutAlign="space-between" fxFlex="100">
      <cei-card-icon
         ceiMaterialElevation
         fxFlex.lt-md="45"
         fxFlex.gt-md="20"
         [icon]="'nuevo_pedido'"
         [text]="'Nuevo pedido'"
         [routerLink]="[routes.NEW_ORDER]"
         routerLinkActive="router-link-active"
      >
      </cei-card-icon>
      <cei-card-icon
         ceiMaterialElevation
         fxFlex.lt-md="45"
         fxFlex.gt-md="20"
         [icon]="'mis_pedidos_simple'"
         [text]="'Mis pedidos'"
         [routerLink]="[routes.MY_ORDERS]"
      ></cei-card-icon>
      <cei-card-icon
         ceiMaterialElevation
         fxFlex.lt-md="45"
         fxFlex.gt-md="20"
         [icon]="'movimientos'"
         [text]="'Movimientos'"
         [routerLink]="[routes.MOVEMENTS]"
         [ngClass.lt-md]="{ 'mt-4': true }"
      ></cei-card-icon>
      <cei-card-icon
         ceiMaterialElevation
         fxFlex.lt-md="45"
         fxFlex.gt-md="20"
         [icon]="'transferir_saldo'"
         [text]="'Transferir saldo'"
         [routerLink]="[routes.ADD_MONEY]"
         class="px-0"
         [ngClass.lt-md]="{ 'mt-4': true, 'px-0': true }"
      >
      </cei-card-icon>
   </div>
   <!-- Saldo -->
   <mat-card class="card-shadow" fxFlex="100" [ngClass.lt-md]="{ 'border-radius-0': true }">
      <mat-card-header>
         <mat-card-subtitle fxFlex="100">
           <div fxLayout="row" fxLayoutAlign="space-between">
             <div>
               <span class="mat-h3">Saldo en la cuenta</span> <br /><br />
               <span class="mat-h3">$ </span>
               <span class="mat-display-1">{{ this.authService.currentUserValue.balance }}</span>
               <span class="mat-h3 mls-2" *ngIf="this.authService.currentUserValue.type == this.userType.BECADO && this.authService.currentUserValue.remaining_copies > 0"> (+{{this.authService.currentUserValue.remaining_copies}} copias gratuitas)</span> <br />
             </div>
           </div>
         </mat-card-subtitle>
      </mat-card-header>
   </mat-card>

   <!-- Pedidos en curso -->
   <mat-card *ngIf="!this.isLoadingGetOrders; else loadingDiv" class="m-0 my-3 card-shadow" fxFlex="100" [ngClass.lt-md]="{ 'border-radius-0': true }">
      <mat-card-header>
         <mat-card-subtitle><span class="mat-h3">Pedidos en curso</span></mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
         <mat-list class="mx-3">
            <mat-list-item *ngFor="let order of orders">
               <!-- <span fxFlex.gt-md="25" fxFlex.lt-lg="15">
                  <span fxHide="true" fxShow.gt-md>Pedido</span> #{{ order.id }}
               </span> -->
               <span fxFlex.gt-md="37" fxFlex.lt-lg="1 1 auto" class="text-accent">
                  #{{ order.id_number }}
               </span>
               <span fxFlex.gt-md="37" fxFlex.lt-lg="1 1 auto" class="text-secondary">
                  {{ order.tracking[0].timestamp | date: "dd/MM/yy H:mm" }}
               </span>
               <span fxFlex.gt-md="37" fxFlex.lt-lg="1 1 auto" fxLayoutAlign="start center">
                  <mat-icon class="text-primary mr-1 mat-icon-small" mat-list-icon svgIcon="customCircle"></mat-icon>
                  {{ order.state.name }}
               </span>
               <button
                  fxHide="true"
                  fxShow.gt-md
                  mat-raised-button
                  fxFlex="20"
                  [routerLink]="['/cei/pedidos/pedido', order.id]"
                  routerLinkActive="active"
                  color="primary"
               >
                  Ver más
               </button>
               <button
                  [routerLink]="['/cei/pedidos/pedido', order.id]"
                  routerLinkActive="active"
                  fxLayoutAlign="center"
                  fxHide="true"
                  fxShow.lt-lg
                  mat-mini-fab
                  color="primary"
               >
                  <mat-icon>search</mat-icon>
               </button>
            </mat-list-item>
         </mat-list>
      </mat-card-content>
      <mat-card-footer>
         <!-- Para cargar saldo -->
      </mat-card-footer>
   </mat-card>
</div>

<ng-template #loadingDiv>
    <app-spinner fxFlex="100" fxLayoutAlign="center start"></app-spinner>
</ng-template>
